.blue-text{
    color: #9bddff
}
.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .yellowtail-bold {
    font-family: "Yellowtail", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  .yellowtail-regular-italic {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }  
  
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tiles-container{
    display: flex;
    flex-direction: row;
}
.tile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400;
    border: 3px;
    border-radius: 3px;
    margin: 3px;
}
.image-container {
  position: relative;
  width: 300px; /* Adjust size according to your image */
  height: 200px; /* Adjust size according to your image */
}

/* Initially hide the hover image */
.hidden {
  display: none;
}

body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Change font as needed */
}
html {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.tiles-container {
    display: flex;
    justify-content: space-around; /* Distribute space evenly between and around elements */
    padding: 20px;
}
.image-container {
    text-align: center;
    flex-basis: calc(33.33% - 20px); /* Set width for each image container */
}
.image-container img {
    max-width: 100%; /* Ensure images don't exceed container width */
}